.footer {
  height: 100%;
  background-color: var(--hero-background-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress{
  @media screen  and (max-width: 767px) {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-container {
  @include desktop{
  display: flex;
  align-items: baseline;
  }
}

.footer-adress__tablet{
  @include tablet{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.footer-join-us {
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin-bottom: 20px;
}

.footer-socials {
  @include desktop{
    display: flex;
    align-items: flex-start;
    margin-left: 70px;
    flex-direction: column;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--social-icon-background);
  color: var(--hero-text-color);
  transition-property: color, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--ineractive-color);
    border-color: var(--ineractive-color);
    color: var(--hero-text-color);
    outline: none;
  }
}

.footer-social__icon {
  fill: currentColor;
}

.footer-subscribe {
  @include tablet{
    display: flex;
    justify-content: center;
  }
  @include desktop{
  display: flex;
  align-items: baseline;
  margin-left: auto;
  }

}

.footer-subscribe__text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  @include desktop{
    text-align: start;
  }
}

.footer-subscribe__mail {
  margin-bottom: 20px;
  width: 100%;
  @include tablet{
    width: 450px;
  }
  @include desktop{
    margin-bottom: 0;
    width: 358px;
  }
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  &:focus {
    outline: none;
  }
}

.footer-subscribe__btn {
  display: flex;
  margin: 0 auto;
  @include desktop{
    display: inline-flex;
    margin-left: 12px;
  }
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-color: transparent;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--hero-button-ineractive-color);
    outline: none;
  }
}

.footer-subscribe__icon-send {
  margin-left: 10px;
}


