.team-section,
.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;

  @include desktop {
      padding-top: 94px;
      padding-bottom: 94px;
  }
}

