
.adress__mail {
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--ineractive-color);
    outline: none;
  }
  @include tablet{
    padding-top: 20px;
    margin-bottom: 10px;
  }
}

.adress__phone {
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--ineractive-color);
    outline: none;
    @include tablet{
      padding-bottom: 20px;
    }
  }
  @include desktop{
  padding-top: 32px;
  padding-bottom: 32px;
  }
}

.adress__icon {
  display: flex;
  fill: currentColor;
  &:hover,
  &:focus {
    color: var(--ineractive-color);
  }
  & {
    margin-right: 10px;
  }
}