.navigation__title {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: var(--ineractive-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation__logo--black-color {
  font-family: 'Raleway', sans-serif;
  color: var(--active-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

