:root {
  --primary-color-text: #212121;
  --secondary-text-color: #757575;
  --hero-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --hero-button-ineractive-color: #188ce8;
  --ineractive-color: #2196f3;
  --active-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --portfolio-colors: #f5f4fa;
  --border-color: #ececec;
  --border-portfolio-color: #eeeeee;
  --hero-linear-gradient-color: #2f303a 40 %;
  --social-link-icon: #afb1b8;
  --social-icon-background: rgba(255, 255, 255, 0.1);
  --portfolio-box-shadow-color: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
